In [1]:
import numpy as np
import pandas as pd
import pingouin as pg

from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

/Users/danielkrauss/code/MA_Daniel_Krauss/ma-daniel-krauss/.venv/lib/python3.9/site-packages/outdated/utils.py:14: OutdatedPackageWarning: The package outdated is out of date. Your version is 0.2.1, the latest is 0.2.2.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(
/Users/danielkrauss/code/MA_Daniel_Krauss/ma-daniel-krauss/.venv/lib/python3.9/site-packages/outdated/utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.5.2, the latest is 0.5.3.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from fau_colors import register_cmaps
register_cmaps()

sns.set_theme(context="talk", style="white", palette="faculties", font_scale=1.2)

%matplotlib widget

In [4]:
df_info_train = pd.read_pickle("../mesa_train_info.pkl")
df_info_test = pd.read_pickle("../mesa_test_info.pkl")

In [5]:
pg.mwu(df_info_train["age"], df_info_test["age"]).round(4)

       U-val alternative   p-val     RBC    CLES
MWU  99721.0   two-sided  0.8842  0.0063  0.4969

In [6]:
df_info_test

info,race,gender,PSG_quality,WHIIRS_score,sleep_apnea,insomnia,resstles_legs,age,AH-Index,extra_work_hours
subject,,,,,,,,,,
2388,1.0,0.0,7.0,5.0,0.0,0.0,0.0,63.0,2.640587,0.0
0548,4.0,1.0,5.0,1.0,0.0,0.0,0.0,70.0,4.332604,0.0
2834,2.0,1.0,5.0,9.0,0.0,0.0,0.0,78.0,25.900990,0.0
1497,3.0,1.0,7.0,10.0,1.0,0.0,0.0,65.0,60.702576,0.0
2820,2.0,0.0,5.0,3.0,0.0,0.0,0.0,56.0,1.141304,0.0
...,...,...,...,...,...,...,...,...,...,...
3104,1.0,0.0,5.0,17.0,0.0,1.0,0.0,63.0,0.923077,0.0
0169,1.0,1.0,7.0,5.0,0.0,0.0,0.0,71.0,38.033898,5.0
2193,1.0,1.0,6.0,9.0,1.0,0.0,1.0,76.0,27.543860,0.0
4723,2.0,0.0,5.0,14.0,0.0,0.0,0.0,77.0,6.935484,0.0
0586,4.0,0.0,5.0,13.0,0.0,0.0,0.0,58.0,0.151134,0.0

In [7]:
df_info_test["age"].agg(["mean", "std"])

mean    68.450893
std      8.440629
Name: age, dtype: float64

In [8]:
df_info_train["age"].agg(["mean", "std"])

mean    68.467634
std      8.814606
Name: age, dtype: float64

In [9]:
df_info_full = pd.concat([df_info_train, df_info_test])
df_info_full["age"].agg(["mean", "std"])

mean    68.464286
std      8.737384
Name: age, dtype: float64